.sk-cube-grid .sk-cube {background-color: #c96013;}
.index_2 .icon-nav ul li:last-child {background: #c96013;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > .active a, .navbar-default .navbar-nav > .dropdown.active a, .navbar-default .navbar-nav > .active a:hover, .navbar-default .navbar-nav > .active a:focus {
    border-bottom: 2px solid #c96013;}
.index_3 .canvas-box:hover span i {color: #c96013;}
.index_3 .canvas-box:hover span i {color: #c96013;}
.index_3 .canvas-box:hover h4 {color: #c96013;}
.bounce-top:hover, .bounce-top:focus {border: 1px solid #c96013;}
.bounce-top:before {background: #c96013;}
.thinker-image .overlay {background: rgba(201, 96, 19, 0.68);}
ul.nayax-links li a:hover, ul.nayax-links li a:focus, ul.nayax-links li.active a:hover, ul.nayax-links li.active a {color: #c96013;}
.news p a {color: #c96013;}
.index_2 form.footer-search .input-group-btn > button {color: #c96013;}
.index_2 form.footer-search .input-group-btn > button:hover {background-color: #c96013;}
.go-top:hover, .go-top:focus {color: #c96013;}
ul.social-link li a:hover span {background: #c96013; border: 1px solid #c96013;}
#search .close {background-color: #c96013; border-color: #c96013;}
#search .btn {background-color: #c96013;}
.cart .cart-content a {
    color: #c96013;
}

.bg-first {background: #c96013;}
.bg-second{background: #ce702a;}
.bg-third{background: #d48042;}
.bg-fourth{background: #d98f59;}
.bg-fifth{background: #dfa071;}

.navbar-nav > li > .megamenu-content h5 {color: #C96013;}

.index_2#bg-paralax, .index_4#bg-paralax, .index_6#bg-paralax {background: url("../images/parallax_food.jpg") no-repeat fixed 100% 70% / cover;}


.tp-leftarrow.default {background:url(../images/prev-orange.png) no-Repeat 0 0;}
.tp-rightarrow.default {background: url(../images/next-orange.png) no-Repeat 0 0;}
.tp-leftarrow:hover, .tp-rightarrow:hover, #index_3_slider .tp-leftarrow:hover, #index_3_slider .tp-rightarrow:hover {background-position: bottom left;}

.navbar-nav > li > .megamenu-content li > a:hover, .navbar-nav > li > .megamenu-content li > a:focus, .navbar-default .navbar-nav .open .megamenu-content > li > a:hover {color: #C96013 !important;}
.icon-nav ul li a:hover, .index_2 .icon-nav ul li a:hover, .index_3 .icon-nav ul li a:hover, .index_5 .icon-nav ul li a:hover {color: #C96013;}

.index_2 .navbar-toggle .icon-bar, .index_3 .navbar-toggle .icon-bar, .index_5 .navbar-toggle .icon-bar {background-color: #c96013 !important;}
.navbar-nav > li > .dropdown-menu > li > a:focus, .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > .active > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {background-color: #c96013;}
.index_3 .form-inline input[type="submit"]:hover {
    background-color: #c96013;
}
.index_3 .center a {
    color: #c96013;
}
#testinomial-slider .owl-prev:hover, #testinomial-slider .owl-next:hover, #publication-slider .owl-prev:hover, #publication-slider .owl-next:hover, #about-slider .owl-prev:hover, #about-slider .owl-next:hover {border: 1px solid #c96013;background-color: #c96013;}
#testinomial {background: url(../images/customer-feedback.jpg) no-repeat;}
.navbar-nav > li > .megamenu-content li > a:hover::before {content: url(../images/menu-arrow-orange.png);}































