<!--Footer Start-->
<footer class="cp_footer">
    {% if random is defined %}
        <section class="cp-instagram-section">
            <div class="cp-ins-text">
                <h4>+ videos</h4>
                <i class="fa fa-video-camera"></i>
            </div>
            <ul class="cp-instagram-listed">
                {% for video in random %}
                <li>
                    <figure class="cp-ins-item"><a href="{{ path('cilantro_media_youtube_episode', {'slug':video.id}) }}"><img src="{{ video.thumbnail }}" alt=""></a></figure>
                </li>
                {% endfor %}
            </ul>
        </section>
    {% else %}
        {#<section class="cp-instagram-section">
            <div class="cp-ins-text">
                <h4>Instagram</h4>
                <i class="fa fa-instagram"></i>
            </div>
            <ul class="cp-instagram-listed">
                <li>
                    <figure class="cp-ins-item"><a href="#"><img src="http://placekitten.com/g/224/187" alt=""></a></figure>
                </li>
                <li>
                    <figure class="cp-ins-item"><a href="#"><img src="http://placekitten.com/g/224/187" alt=""></a></figure>
                </li>
                <li>
                    <figure class="cp-ins-item"><a href="#"><img src="http://placekitten.com/g/224/187" alt=""></a></figure>
                </li>
                <li>
                    <figure class="cp-ins-item"><a href="#"><img src="http://placekitten.com/g/224/187" alt=""></a></figure>
                </li>
                <li>
                    <figure class="cp-ins-item"><a href="#"><img src="http://placekitten.com/g/224/187" alt=""></a></figure>
                </li>
                <li>
                    <figure class="cp-ins-item"><a href="#"><img src="http://placekitten.com/g/224/187" alt=""></a></figure>
                </li>
                <li>
                    <figure class="cp-ins-item"><a href="#"><img src="http://placekitten.com/g/224/187" alt=""></a></figure>
                </li>
                <li>
                    <figure class="cp-ins-item"><a href="#"><img src="http://placekitten.com/g/224/187" alt=""></a></figure>
                </li>
            </ul>
        </section>#}
    {% endif %}

    <!--Copyright Section Start-->
    <section class="cp-copyright-section">
        <div class="container">
            <nav class="cp-ft-nav">
                <ul>
                    <li><a href="#">Visión</a></li>
                    <li><a href="#">Código de ética</a></li>
                    <li><a href="#">Negocios</a></li>
                    <li><a href="#">Ejecutivo</a></li>
                    <li><a href="#">Instalaciones</a></li>
                </ul>
            </nav>
            <nav class="cp-ft-nav cp-ft-nav2">
                <ul>
                    <li><a href="{{ path('cilantro_media_contact_index') }}">Contacto</a></li>
                    <li><a href="#">Aviso Legal</a></li>
                    <li><a href="{{ path('cilantro_media_home_privacy') }}">Política de privacidad</a></li>
                    <li><a href="#">Mapa web</a></li>
                    <li>&copy; 2016 Cilantro Media. Todos los derechos reservados. Desarrollado por <a href="https://katanastudios.com" target="_blank">Katana Studios</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <!--Copyright Section End-->

</footer>
<!--Footer End-->