<!--Header Start-->
<header class="cp_header">
    <!--Navigation Start-->
    <div class="cp-navigation-row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <!--Logo Start-->
                    <strong class="cp-logo"> <a href="#"><img src="{{ asset('bundles/cilantromedia/images/logo.png') }}" alt=""></a>
                    </strong>
                    <!--Logo End-->
                    {% include(':CilantroMedia/Site/Includes:menu.html.twig') %}
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <!--Right Holder Start-->
                    <div class="cp-right-holder">
                        <ul class="cp-social-links">
                            <li><a href="https://www.facebook.com/cilantromedia" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <!--li><a href="#"><i class="fa fa-twitter"></i></a></li-->
                            <!--li><a href="#"><i class="fa fa-instagram"></i></a></li-->
                            <li><a href="https://www.youtube.com/channel/UC6O7xmMUwbBw1V5F_I0BoTg" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            <!--li class="cp-search-holder">
                                <i class="fa fa-search"></i>
                                <form action="http://google.com" method="get" class="cp-search-form-outer">
                                    <input type="text" name="q" placeholder="Search..." required>
                                    <button class="btn-submit" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </li-->
                        </ul>
                    </div>
                    <!--Right Holder End-->
                </div>
            </div>
        </div>
    </div>
    <!--Navigation End-->
</header>
<!--Header End-->