<!--Nav Holder Start-->
<div class="cp-nav-holder">
    <div class="cp-megamenu">
        <div class="cp-mega-menu">
            <label for="mobile-button"> <img src="{{ asset('bundles/cilantromedia/site-assets/images/menu-bar.png') }}" alt=""> </label>
            <!-- mobile click button to show menu -->
            <input id="mobile-button" type="checkbox">
            {{ knp_menu_render('site') }}
        </div>
    </div>
</div>
<!--Nav Holder End-->