{% extends 'CilantroMedia/Site/base.html.twig' %}

{% block body %}
    <!--Banner Start-->
    <div class="cp_inner-banner">
        <div class="container">
            <div class="cp-inner-banner-holder">
                <h2>Episodio 8: <strong>Paty Muñoz</strong></h2>
                <!--Breadcrumb Start-->
                <ul class="breadcrumb">
                    <li>Televisión</li>
                    <li class="active"><a href="{{ path('cilantro_media_tv_episodes', {'slug':'desestresa2'}) }}">Desestresa2</a></li>
                </ul><!--Breadcrumb End-->
            </div>
        </div>
    </div><!--Banner End-->

    <!--Main Content Start-->
    <div id="cp-main-content">
        <section class="cp-blog-section pd-tb60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--Video Detail Outer Start-->
                        <div class="cp-video-detail-outer">
                            <div class="cp-video-outer2">
                                <iframe src="https://www.youtube.com/embed/9E7FZyZiJe0"></iframe>
                            </div>
                            <div class="cp-text-holder">
                                <div class="cp-top">
                                    <h4>Paty Muñoz con desestresa2 </h4>
                                </div>
                                <div class="cp-watch-holer">
                                    <ul class="cp-meta-list">
                                        <li>Lunes, 26 de Enero, 2016</li>
                                    </ul>
                                </div>
                                <!--Comments Holder Start-->
                            </div>
                        </div><!--Video Detail Outer End-->
                    </div>
                </div>

                <div style="height:50px;"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="cp-outer-holder cp-featured-video">
                        <div class="row">
                            <div class="col-md-12 cp-heading-outer">
                                <h2>Más escenas</h2>
                            </div>
                        </div>
                        <div id="featured-video">
                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/rZF7NIZH4s0/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Indio Brayan Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 2, 2016</li>
                                            <li>Episodio 1</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/Vnbs_VTiQts/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Olga Sana Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 9, 2016</li>
                                            <li>Episodio 2</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/dZxrweNFFrc/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Costeño Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 16, 2016</li>
                                            <li>Episodio 3</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/MGNaRooe73o/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Meire Carvalho Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 23, 2016</li>
                                            <li>Episodio 4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/2pG7pBwUdkI/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Radamés de Jesús Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jun 30, 2016</li>
                                            <li>Episodio 5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/ZTjIAv6KMAs/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Chevo Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jul 7, 2016</li>
                                            <li>Episodio 6</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/HfLyBZcv9HI/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                El Gamborimbo Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jul 14, 2016</li>
                                            <li>Episodio 7</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="item">
                                <div class="cp-video-item">
                                    <figure class="cp-thumb">
                                        <img src="http://img.youtube.com/vi/H4B2FYIebvw/hqdefault.jpg" alt="">
                                        <figcaption class="cp-caption"><a href="#" class="play-video">Reproducir</a>
                                        </figcaption>
                                    </figure>
                                    <div class="cp-text">
                                        <h4>
                                            <a href="#">
                                                Paty Muñoz Sketch
                                            </a>
                                        </h4>
                                        <ul class="cp-meta-list">
                                            <li>Lunes, Jul 21, 2016</li>
                                            <li>Episodio 8</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>

                <div style="height:50px;"></div>

                <div class="row">
                    <div class="col-md-12">
                        <!--Most Viewer Outer Start-->
                        <div class="cp-most-view-outer pd-b60">
                            <div class="cp-heading-outer">
                                <h2>Últimos videos</h2>
                            </div>
                            <div class="cp_viewed-slider">
                                <div class="item">
                                    <div class="cp-most-listed">
                                        <figure class="cp-thumb">
                                            <img src="http://img.youtube.com/vi/yMa_5h_AmoI/hqdefault.jpg" alt="">
                                            <figcaption class="cp-caption">
                                                <a href="#" class="play-video">Reproducir</a>
                                            </figcaption>
                                        </figure>
                                        <div class="cp-text">
                                            <h3>Promo julio</h3>
                                            <ul class="cp-meta-list">
                                                <li>Lunes, Jul 1, 2016</li>
                                                <li>Bloopers</li>
                                            </ul>
                                            <p>Desestresa2 es un programa que busca traer la comedia tradicional al presente y crear una sinergia con la nueva comedia.</p>
                                            <p>No te lo pierdas...<br />Desestresa2 está en la red y por hoy... Ya se chingaron.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="cp-most-listed">
                                        <figure class="cp-thumb">
                                            <img src="http://img.youtube.com/vi/4cRnnuc1XtE/hqdefault.jpg" alt="">
                                            <figcaption class="cp-caption">
                                                <a href="#" class="play-video">Reproducir</a>
                                            </figcaption>
                                        </figure>
                                        <div class="cp-text">
                                            <h3>El Chevo</h3>
                                            <ul class="cp-meta-list">
                                                <li>Lunes, Jul 7, 2016</li>
                                                <li>Teasers</li>
                                            </ul>
                                            <p>Un programa que busca traer la comedia tradicional al presente y crear una sinergia con la nueva comedia. Dentro del contenido se tocan herramientas de improvisación, sketches, rutinas cómicas, parodias y de stand up, la participación de personajes que agregan un toque ácido y que en conjunto se aborden temas cotidianos, con los que todos nos identificamos.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Most Viewer Outer End-->
                    </div>
                </div>
            </div>
        </section>
    </div><!--Main Content End-->
{% endblock %}