{% if contentTitle is defined %}
<div class="page-header">
    <h1>
        {{ contentTitle }}

        {% if contentSubtitle is defined %}
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                {{ contentSubtitle }}
            </small>
        {% endif %}
    </h1>
</div>
{% endif %}