<div id="sidebar" class="sidebar responsive ace-save-state compact">
    <script type="text/javascript">
        try{ace.settings.loadState('sidebar')}catch(e){}
    </script>

    <ul class="nav nav-list">
        <li class="active">
            <a href="{{ path('cilantro_admin_index_dashboard') }}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Dashboard </span>
            </a>

            <b class="arrow"></b>
        </li>

        <li class="hover">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-camera"></i>
                <span class="menu-text"> Televisión </span>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Promos
                    </a>
                </li>
                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Desestresa2
                    </a>

                    <ul class="submenu">
                        <li class="">
                            <a href="{{ path('cilantro_admin_youtube_channel', {'slug':'desestresa2'}) }}">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Videos
                            </a>

                        </li>

                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Portada
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Rumbo a Río
                    </a>

                    <ul class="submenu">
                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Videos
                            </a>

                        </li>

                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Portada
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Te presento a...
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Videos
                            </a>

                        </li>

                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Portada
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Sabías que...
                    </a>

                    <b class="arrow"></b>

                    <ul class="submenu">
                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Videos
                            </a>

                        </li>

                        <li class="">
                            <a href="#">
                                <i class="menu-icon fa fa-caret-right"></i>
                                Portada
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="hover">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-headphones"></i>
                <span class="menu-text"> Radio </span>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Efemérides
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="hover">
                    <a href="#">
                        <i class="menu-icon fa fa-caret-right"></i>
                        Expediente musical
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="hover">
            <a href="#">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> Contacto </span>
            </a>

            <b class="arrow"></b>
        </li>
    </ul>
</div>