{% extends(':CilantroMedia/Home:base.html.twig') %}

{% block body %}
    <section class="innerpage-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Aviso legal</h2>
                    <p class="tagline">COVIA S.A DE C.V.</p>
                </div>
                <div class="col-md-12 text-right">
                    <div class="other-page-link"> <a href="{{ path('cilantro_media_home_index') }}"><i class="fa fa-circle"></i>Inicio</a> <span><i class="fa fa-angle-right"></i>Aviso legal</span> </div>
                </div>
            </div>
        </div>
    </section>

    <section id="area-main" class="top-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p>CONTRATO DE UTILIZACIÓN DE SERVICIOS DEL “USUARIO”</p>

                    <p>DECLARAN AMBAS PARTES (EL PRIMERO EL PROVEEDOR QUE EN ADELANTE SERÁ DENOMINADO “CILANTRO MEDIA” Y EL SEGUNDO DENOMINADO “EL “USUARIO”, RESPECTIVAMENTE).</p>

                    <p>ES SU INTENCIÓN SOMETERSE AL CONTENIDO DEL PRESENTE CONTRATO CON LA FINALIDAD DE REGULAR LA UTILIZACIÓN DE SERVICIOS DEL “USUARIO”.</p>

                    <p>DERIVADO DE LO ANTERIOR, LAS PARTES SE SOMETEN A LAS SIGUIENTES DISPOSICIONES:</p>

                    <p>CLÁUSULAS</p>

                    <p>PRIMERA.- PROPÓSITO CONTRACTUAL.- ES PROPÓSITO PARA AMBAS PARTES CELEBRAR EL PRESENTE CONTRATO CUYA FINALIDAD ES ESTABLECER LOS TÉRMINOS Y CONDICIONES RESPECTO DE LA PRESTACIÓN DEL SERVICIO Y/O USO DEL PORTAL DE INTERNET WWW.CILANTROMEDIA.MX</p>

                    <p>DICHA NORMATIVIDAD CONSTITUYEN LOS TÉRMINOS Y CONDICIONES GENERALES DE UTILIZACIÓN DEL SERVICIO.</p>

                    <p>SEGUNDA.- SUJETOS OBLIGADOS.- LOS SIGUIENTES TÉRMINOS Y CONDICIONES SON APLICABLES A LAS PARTES, DERIVADO DE UNA RELACIÓN JURÍDICA CONTRACTUAL ENTRE “CILANTRO MEDIA” Y EL “USUARIO” EN EL SITIO WEB LOCALIZADO EN WWW.CILANTROMEDIA.MX</p>

                    <p>TERCERA.- USUARIOS DEL SERVICIO.- EL PRESENTE CONTRATO DE UTILIZACIÓN DE SERVICIOS DEL “USUARIO” (EN ADELANTE EL "CONTRATO"), REGULA LA UTILIZACIÓN DE LOS SERVICIOS DEL “USUARIO” BRINDADOS POR “CILANTRO MEDIA” A TRAVÉS DEL PRESENTE PORTAL DE INTERNET.</p>

                    <p>CADA VEZ QUE UNA PERSONA ACCEDA AL PORTAL WWW.CILANTROMEDIA.MX Y/O UTILICE LOS SERVICIOS PRESTADOS POR “CILANTRO MEDIA” EN DICHO PORTAL, ADQUIERE LA CALIDAD DE “USUARIO”.</p>

                    <p>SE ENTINDE POR “USUARIO” TODA PERSONA QUE INGRESA A NUESTRO PORTAL Y/O UTILIZA LOS SERVICIOS DE INTERNET BRINDADOS POR “CILANTRO MEDIA”.  ES DECIR, DESDE EL MOMENTO QUE SE INGRESA A LA PÁGINA DE INTERNET Y/O AL UTILIZAR LOS SERVICIOS PRESTADOS A TRAVÉS DEL PORTAL, ACEPTA DE MANERA EXPRESA Y/O TÁCITA SOMETERSE AL CONTENIDO DEL PRESENTE CONTRATO, A LOS TÉRMINOS Y CONDICIONES DEL MISMO ASÍ COMO A SU AVISO DE PRIVACIDAD.</p>

                    <p>EN CADA ACCESO A NUESTRO PORTAL, SE ESTARÁ SUJETO AL CONTENIDO Y ALCANCE DEL PRESENTE CONTRATO, EL CUAL PODRÁ SER ACTUALIZADO Y/O MODIFICADO EN CUALQUIER TIEMPO POR PARTE DE “CILANTRO MEDIA”, SIN NOTIFICACIÓN PREVIA AL “USUARIO”; POR ELLO ES NECESARIO QUE CADA QUE EL “USUARIO” ACCEDE A LA DIRECCIÓN ELECTRÓNICA LEA LOS TÉRMINOS Y CONDICIONES DEL MISMO Y/O SUS RESPECTIVAS ACTUALIZACIONES.</p>

                    <p>CUARTA.- DESCRIPCIÓN DEL SERVICIO.- “CILANTRO MEDIA” PROPORCIONA A LOS USUARIOS, DIRECTA O INDIRECTAMENTE, EL ACCESO Y/O EL USO, SEGÚN SEA EL CASO, DE UNA SERIE DE SERVICIOS Y CONTENIDOS  INFORMATIVOS DE ENTRETENIMIENTO Y CULTURALES EN LÍNEA A TRAVÉS DEL SISTEMA O RED GLOBAL DE INFORMACIÓN CONOCIDA COMO "INTERNET".</p>

                    <p>DE MANERA ENUNCIATIVA MÁS NO LIMITATIVA: PROGRAMAS DE TELEVISIÓN POR INTERNET, ARTÍSTICOS, DE ENTRETENIMIENTO, CONDUCCIÓN, CÁPSULAS INFORMATIVAS, REPORTAJES, ENLACES Y DE CUALQUIER OTRA MODALIDAD DE TIPO CULTURAL, GASTRONÓMICO, GEOGRÁFICO O DE ENTRETENIMIENTO QUE DERIVE COMUNICACIÓN E INFORMACIÓN CON LOS USUARIOS.</p>

                    <p>QUINTA.- CARÁCTER GRATUITO DE LOS SERVICIOS.- LA PRESTACIÓN DE LOS SERVICIOS PROPORCIONADOS A LOS USUARIOS POR “CILANTRO MEDIA” ES DE FORMA GRATUITA, EXCEPTO PARA CIERTOS SERVICIOS, LOS CUALES SÓLO PODRÁN UTILIZARSE MEDIANTE SUSCRIPCIÓN O REGISTRO DEL “USUARIO” Y/O PAGO DE UN PRECIO, EN DICHOS SUPUESTOS, “CILANTRO MEDIA” LOS IDENTIFICARÁ PARA LA UTILIZACIÓN DEL “USUARIO”.</p>

                    <p>SEXTA.- USO ADECUADO DEL PORTAL DE INTERNET.- EL “USUARIO” SE COMPROMETE A UTILIZAR Y ACCEDER A “CILANTRO MEDIA” Y HACER USO DE LOS SERVICIOS CONFORME A LO ESTABLECIDO EN LAS LEYES APLICABLES, LA MORAL, LAS BUENAS COSTUMBRES Y EL ORDEN PÚBLICO, POR LO QUE NO UTILIZARÁ LA PRESENTE PÁGINA DE INTERNET PARA FINES O EFECTOS ILÍCITOS, LESIVOS DE DERECHOS E INTERESES DE TERCEROS O QUE INCITEN A LA VIOLENCIA.</p>

                    <p>SÉPTIMA.- CONTENIDO DE LA PÁGINA DE INTERNET.- LA PRESENTE PÁGINA DE INTERNET ES ADMINISTRADA POR “CILANTRO MEDIA”; NO OBSTANTE, LOS USUARIOS MANIFIESTAN QUE CONOCEN Y ESTÁN ENTERADOS QUE TODA LA INFORMACIÓN CONTENIDA, PUEDE SER DE LA TITULARIDAD DE “CILANTRO MEDIA” Y/O DE ALGÚN TERCERO QUE SUBIÓ O COMPARTIÓ SU INFORMACIÓN PARA SU RESPECTIVA DIFUSIÓN O PROMOCIÓN.- POR LO ANTERIOR, “CILANTRO MEDIA” NO ES RESPONSABLE DEL CONTENIDO Y/O LA PUBLICACIÓN DEL MISMO NI REPRESENTA, EN SU CASO, LA OPINIÓN DE “CILANTRO MEDIA”.</p>

                    <p>ASIMISMO, “CILANTRO MEDIA” NO SE RESPONSABILIZA DE LAS VIOLACIONES QUE PUEDIERA GENERAR EL MATERIAL DIFUNDIDO POR UN TERCERO, DESDE EL PUNTO DE VISTA DE SU CONTENIDO COMO RELACIONADO A VIOLACIONES EN MATERIA DE PROPIEDAD INDUSTRIAL Y DERECHOS DE AUTOR.</p>

                    <p>EL “USUARIO” AL ACCESAR A LA PÁGINA DE INTERNET PUEDE ESTAR EXPUESTO A CONTENIDO QUE RESULTE PARA ÉL OFENSIVO, INDECENTE O INACEPTABLE, DE CONFORMIDAD CON SUS CREENCIAS Y/O CULTURA O, EN SU CASO PUEDE RESULTAR CONTRARIO A LA LEY, EN VIRTUD DE LAS LEYES APLICABLES EN EL PAÍS DE RESIDENCIA DEL “USUARIO”, POR LO QUE “CILANTRO MEDIA”, BAJO NINGUNA CIRCUNSTANCIA, SERÁ RESPONSABLE ANTE EL “USUARIO” O ANTE TERCERAS PERSONAS POR EL CONTENIDO, EFECTOS O ALCANCE.</p>

                    <p>LOS USUARIOS AL UTILIZAR LOS SERVICIOS, SON RESPONSABLES PARA DECIDIR LOS CONTENIDOS QUE QUIEREN VISUALIZAR Y TIENEN LA LIBERTAD DE CANCELAR O DEJAR DE USAR EL PORTAL DE INTERNET EN EL MOMENTO QUE LO CONSIDEREN OPORTUNO.</p>

                    <p>“CILANTRO MEDIA” PUEDE, EN TODO MOMENTO, MODIFICAR EL CONTENIDO Y ELEMENTOS QUE INTEGRAN LA PÁGINA DE INTERNET, SIN NECESIDAD DE COMUNICARLO PREVIAMENTE, CUANDO LO ESTIME CONVENIENTE DE ACUERDO CON SUS NECESIDADES OPERATIVAS Y EMPRESARIALES Y AL EJERCICIO DE SUS SERVICIOS.</p>

                    <p>OCTAVA.- USO DEL SITIO WEB POR MENORES DE EDAD.- PARA REGISTRARSE, EL “USUARIO” DEBE SER MAYOR DE EDAD O, EN SU CASO, MAYOR DE 18 AÑOS. “CILANTRO MEDIA” NO FOMENTA NI PERMITE DE MANERA CONSCIENTE QUE MENORES DE EDAD COMPARTAN SUS DATOS PERSONALES.</p>

                    <p>ES IMPORTANTE DESTACAR QUE LOS PADRES DE FAMILIA TIENEN QUE ESTAR ATENTOS AL USO DE MEDIOS ELECTRÓNICOS DE SUS HIJOS MENORES DE EDAD, POR ELLO, SE LES RECOMIENDA ESTAR AL PENDIENTE Y ASUMIR UN PAPEL DE VIGILANCIA EN EL USO QUE SUS HIJOS REALIZAN EN INTERNET. NO ES NUESTRA INTENCIÓN EL RECOPILAR INFORMACIÓN DE MENORES DE EDAD Y, EN GENERAL, DE MENORES DE 18 AÑOS. SI ERES MENOR DE EDAD O MENOR DE 18 AÑOS, NO DEBES PROPORCIONAR INFORMACIÓN EN NUESTRO SITIO WEB.</p>

                    <p>EN EL CASO DE QUE UN MENOR DE EDAD O MENOR DE 18 AÑOS HAGA USO DE LA PRESENTE PÁGINA DE INTERNET Y PROPORCIONE INFORMACIÓN, SE ENTIENDE QUE CUENTA CON EL CONSETIMIENTO EXPRESO POR PARTE DE SU TUTOR O REPRESENTANTE LEGAL PARA HACER USO DE LA MISMA Y PARA PROPORCIONAR INFORMACIÓN PERSONAL. ASIMISMO, SE ENTIENDE QUE EL MENOR DE EDAD SE ENCUENTRA ACOMPAÑADO DE SU TUTOR O REPRESENTANTE LEGAL O POR UNA PERSONA DESIGNADA POR ELLOS, EN EL CASO DE QUE UN MENOR DE EDAD O MENOR DE 18 AÑOS HAGA USO DE LA PRESENTE PÁGINA.</p>

                    <p>EL REPRESENTANTE LEGAL O TUTOR EJERCIENDO SUS FUNCIONES DE CUIDADOR, VIGILANTE Y RESPONSABLE DE LAS ACTUACIONES DEL MENOR EDAD O MENOR DE 18 AÑOS, ESTARÁ SIEMPRE AL TANTO DE LAS ACTIVIDADES QUE ÉSTE HAGA CON RESPECTO AL USO DE INTERNET.</p>

                    <p>NOVENA.- USO DEL SITIO POR MAYORES DE EDAD.- SE RECOMIENDA QUE EL USO DE LA PRESENTE PÁGINA DE INTERNET SEA PARA MAYORES DE EDAD O, EN SU CASO, MAYORES DE 18 AÑOS QUE CUENTEN CON LAS FACULTADES LEGALES PARA ACTUAR POR SI MISMOS, TOMAR SUS PROPIAS DECISIONES EN SU ACTUAR, SIN NECESIDAD DE REPRESENTACIÓN LEGAL.</p>

                    <p>DÉCIMA.- GENERACIÓN Y USO DE CONTRASEÑA.- AL CREAR UNA CUENTA EN EL SITIO WEB, NUESTRO SISTEMA VINCULARÁ SU NOMBRE CON SU DIRECCIÓN DE CORREO ELECTRÓNICO Y CON LA CONTRASEÑA QUE USTED ELEGIRÁ Y QUE SÓLO USTED DEBE CONOCER, MANEJAR Y UTILIZAR. CON LO ANTERIOR, SU CONTRASEÑA QUEDA ASOCIADA A SU IDENTIDAD DENTRO DEL SITIO WEB.</p>

                    <p>“CILANTRO MEDIA” ASUME QUE LOS MENSAJES DE DATOS ASOCIADOS A SU CUENTA PROVIENEN DEL NOMBRE VINCULADO A DICHA CUENTA O CONTRASEÑA  Y CONSIDERA QUE EL MENSAJE DE DATOS QUE NOS HIZO LLEGAR CORRESPONDE EXPRESAMENTE A SU DECISIÓN Y ES ATRIBUIBLE A USTED.</p>

                    <p>DE CONFORMIDAD CON LAS DISPOSICIONES CONTENIDAS EN EL CÓDIGO DE COMERCIO, EL USO DE SU CONTRASEÑA NOS PERMITE IDENTIFICARLO EN MEDIOS ELECTRÓNICOS Y ATRIBUIRLE LOS ACTOS, ACTUACIONES, CONSENTIMIENTO Y TRANSACCIONES QUE REALIZA EN NUESTRO SITIO WEB.</p>

                    <p>DÉCIMA PRIMERA.- RIESGOS DE UTILIZAR EL SITIO WEB.- TODO “USUARIO” DEL SITIO ACEPTA QUE UTILIZA EL SITIO WEB BAJO SU PROPIO RIESGO.</p>

                    <p>ESTE SITIO WEB Y LA INFORMACIÓN CONTENIDA EN EL MISMO SE PROPORCIONAN SIN GARANTÍAS DE NINGÚN TIPO. “CILANTRO MEDIA” NO OTORGA GARANTÍA ALGUNA, EXPLÍCITA O IMPLÍCITA RESPECTO DE LA CALIDAD, IDONEIDAD, VERACIDAD O CRITERIOS EMITIDO EN LA INFORMACIÓN O RESPECTO DE LA IDONEIDAD DEL SITIO WEB O SU CONTENIDO PARA UN PROPÓSITO PARTICULAR; “CILANTRO MEDIA” NO GARANTIZA DE MANERA IMPLÍCITA O EXPLÍCITA QUE EL USO DEL SITIO WEB SATISFAGA LAS NECESIDADES O REQUERIMIENTOS DEL “USUARIO” EN ESTE SITIO WEB SEAN EXACTOS, FIABLES O SE ENCUENTREN COMPLETOS, ACTUALIZADOS O SIN ERROR.</p>

                    <p>“CILANTRO MEDIA” NO GARANTIZA QUE ESTE SITIO WEB O SU SERVIDOR SE ENCUENTREN LIBRES DE VIRUS U OTROS COMPONENTES NOCIVOS, POR LO ANTERIOR, ES RESPONSABILIDAD DEL “USUARIO” CONTAR CON UN ANTIVIRUS ASÍ COMO MANTENERLO ACTUALIZADO PARA QUE PROTEJA EL ACCESO O LA UTILIZACION DE LOS SERVICIOS EN SUS EQUIPOS DE COMPUTO.  POR ELLO, “CILANTRO MEDIA” NO ES RESPONSABLE DE CUALQUIER PROBLEMA TÉCNICO DERIVADO DE LAS COMPUTADORAS DE LOS USUARIOS. LOS RIESGOS DERIVADOS DEL USO DEL PRESENTE PORTAL SON A CARGO DEL PROPIO “USUARIO”.</p>

                    <p>DÉCIMA SEGUNDA.- USO CORRECTO DE LOS SERVICIOS.- EN LOS CASOS EN QUE EL “USUARIO” HAGA USO DE AQUELLOS SERVICIOS QUE, POR SU NATURALEZA, PERMITEN A LOS USUARIOS INTRODUCIR CONTENIDO EN “CILANTRO MEDIA” (VIDEOS, FOROS, CHARLA VIRTUAL, CORREO ELECTRÓNICO, INTERCAMBIO DE CUALQUIER TIPO DE INFORMACIÓN DE VOZ Y DATOS, FOTOGRAFÍAS ETCÉTERA) Y HACERLOS ACCESIBLES A OTROS USUARIOS, SE OBLIGA A UTILIZAR LOS MISMOS CONFORME A LAS LEYES QUE RESULTEN APLICABLES, LA MORAL, LAS BUENAS COSTUMBRES, EL ORDEN PÚBLICO Y EL PRESENTE CONTRATO.</p>

                    <p>DE MANERA ENUNCIATIVA, MÁS NO LIMITATIVA, EL “USUARIO” SE OBLIGA Y ESTÁ DE ACUERDO EN NO UTILIZAR LOS SERVICIOS PARA:</p>

                    <p>(A) INTRODUCIR, PUBLICAR, ENVIAR POR CORREO ELECTRÓNICO O DE OTRA MANERA TRANSMITIR CUALQUIER CONTENIDO QUE VAYA EN CONTRA DE LAS LEYES APLICABLES, LA MORAL, LAS BUENAS COSTUMBRES, SEA UN ACTO ILEGAL, PERJUDIQUE, AMENACE, ABUSE, ATAQUE, DIFAME, CALUMNIE, VIOLE LA PRIVACIDAD DE TERCEROS, GENERE ODIO RACIAL Y/O ÉTNICO Y/O RELIGIOSO O QUE CUALQUIER OTRA MANERA SEA CONTRARIO A LO ESTABLECIDO EN EL PRESENTE CONTRATO.</p>

                    <p>(B) HACERSE PASAR POR OTRA PERSONA O ENTIDAD, INTRODUCIR DATOS FALSOS, ALTERADOS O DISTORSIONADOS OCASIONANDO EL ERROR, LA CONFUSIÓN, EL MALENTENDIDO O EL ENGAÑO; </p>

                    <p>(C) FALSIFICAR ENCABEZADOS O DE OTRA MANERA MANIPULAR IDENTIFICADORES PARA OCULTAR EL ORIGEN DE CUALQUIER CONTENIDO TRANSMITIDO A TRAVÉS DE LOS SERVICIOS; </p>

                    <p>(D) INTRODUCIR, PUBLICAR, ENVIAR CORREOS ELECTRÓNICOS O DE OTRA MANERA TRANSMITIR CUALQUIER CONTENIDO AL QUE NO SE TENGA DERECHO DE TRANSMITIR BAJO ALGUNA LEY O BAJO ALGUNA RELACIÓN CONTRACTUAL, O QUE NO SE CUENTE CON EL PERMISO O LA AUTORIZACIÓN PREVIA PARA PODER COMPARTIRLO;</p>

                    <p>(E) INTRODUCIR, PUBLICAR, ENVIAR CORREOS ELECTRÓNICOS O DE ALGUNA OTRA MANERA TRANSMITIR CUALQUIER MATERIAL QUE CONTENGA VIRUS DE PROGRAMAS DE CÓMPUTO O CUALQUIER OTRO CÓDIGO DE COMPUTADORAS, ARCHIVOS O PROGRAMAS DISEÑADOS PARA INTERRUMPIR, DESTRUIR O LIMITAR LA FUNCIONALIDAD DE CUALQUIER PROGRAMA DE CÓMPUTO PARA COMPUTADORA O HARDWARE O EQUIPOS DE TELECOMUNICACIONES;  </p>

                    <p>(F) VIOLAR CUALQUIER LEY APLICABLE EN MÉXICO, CIUDAD DE MÉXICO, EL LUGAR DE RESIDENCIA DEL “USUARIO”, Y/O EL LUGAR EN EL QUE EL “USUARIO” ESTÉ UBICADO AL ACCEDER AL SERVICIO.</p>

                    <p>(G) CUALQUIER OTRA ACTIVIDAD QUE SEA CONTRARIA A LA LEY, LA MORAL Y LAS BUENAS COSTUMBRES. </p>

                    <p>DÉCIMA TERCERA.- USO CORRECTO DEL CONTENIDO.- EL “USUARIO” SE OBLIGA A USAR EL CONTENIDO DE FORMA DILIGENTE, CORRECTA, LÍCITA Y RESPETUOSA, POR LO QUE EN CASO CONTRARIO “CILANTRO MEDIA” PODRÁ SUSPENDER LOS SERVICIOS AL “USUARIO”.</p>

                    <p>ASIMISMO, EL “USUARIO”, EN PARTICULAR, SE COMPROMETE A ABSTENERSE DE: </p>

                    <p>(A) UTILIZAR EL CONTENIDO DE FORMA, CON FINES O EFECTOS CONTRARIOS A LAS LEYES APLICABLES DE MÉXICO, CIUDAD DE MÉXICO, EL LUGAR DE RESIDENCIA DEL “USUARIO”, Y/O EL LUGAR DESDE DONDE SE ACCEDE A LOS SERVICIOS, LA MORAL, LAS BUENAS COSTUMBRES Y/O AL ORDEN PÚBLICO; </p>

                    <p>(B) REPRODUCIR, COPIAR, DISTRIBUIR, PERMITIR EL ACCESO DEL PÚBLICO A TRAVÉS DE CUALQUIER MODALIDAD DE COMUNICACIÓN PÚBLICA, TRANSFORMAR O MODIFICAR EL CONTENIDO, SIN CONTAR CON LA AUTORIZACIÓN PREVIA DEL TITULAR DE LOS DERECHOS CORRESPONDIENTES; </p>

                    <p>(C) SUPRIMIR, ELUDIR O MANIPULAR LOS DERECHOS DE AUTOR, PROPIEDAD INDUSTRIAL E INTELECTUAL Y DEMÁS DATOS IDENTIFICATIVOS DE LOS DERECHOS DE “CILANTRO MEDIA” O DE SUS TITULARES INCORPORADOS AL CONTENIDO. </p>

                    <p>(D) EMPLEAR EL CONTENIDO Y, EN PARTICULAR, LA INFORMACIÓN DE CUALQUIER CLASE OBTENIDA A TRAVÉS DE “CILANTRO MEDIA” O DE LOS SERVICIOS, PARA REMITIR PUBLICIDAD, COMUNICACIONES CON FINES DE VENTA DIRECTA O CON CUALQUIER OTRA CLASE DE FINALIDAD COMERCIAL Y/O DE LUCRO, MENSAJES NO SOLICITADOS DIRIGIDOS A UNA PLURALIDAD DE PERSONAS CON INDEPENDENCIA DE SU FINALIDAD, ASÍ COMO A ABSTENERSE DE COMERCIALIZAR O DIVULGAR DE CUALQUIER MODO DICHA INFORMACIÓN. </p>

                    <p>DÉCIMA CUARTA.- INFORMACIÓN COMPARTIDA POR LOS USUARIOS Y/O TERCEROS.- EN LOS CASOS EN LOS QUE “EL “USUARIO” O UN TERCERO SUBA O COMPARTA EN LA PÁGINA DE INTERNET INFORMACIÓN DE VOZ Y DATOS O CUALQUIER TIPO DE IMAGEN COMUNICATIVA, SIN LIMITACIÓN ALGUNA, POR ESE SIMPLE HECHO ESTÁ AUTORIZANDO A “CILANTRO MEDIA” PARA UTILIZARLA Y/O TRANSMITIRLA EN NUESTRO PORTAL, SIN NECESIDAD DE QUE LE GENERE AL “USUARIO” GANANCIA ALGUNA, REGALÍAS O CUALQUIER BENEFICIO ECONÓMICO Y/O PECUNIARIO POR SU TRANSMISIÓN.</p>

                    <p>A MAYOR ABUNDAMIENTO, EN CASO DE QUE ALGÚN “USUARIO” ELIJA PUBLICAR Y/O ENVIAR CUALQUIER TIPO DE CONTENIDO PARA QUE SEA INCLUIDO EN ÁREAS DE SERVICIOS A LAS QUE TIENE ACCESO EL PÚBLICO EN GENERAL Y/O ENVÍA MATERIAL QUE CONSISTA EN FOTOS, TEXTOS, VIDEOS, ETCÉTERA. U OTRAS GRÁFICAS QUE IGUALMENTE SE PUBLIQUEN EN ÁREAS DE ACCESO LIBRE DE LOS SERVICIOS, LOS USUARIOS CONVIENEN EN OTORGAR A “CILANTRO MEDIA” LA AUTORIZACIÓN CORRESPONDIENTE PARA LLEVAR A CABO LA TRANSMISIÓN Y REPRODUCCIÓN DEL MISMO, ASÍ COMO TODOS LOS DERECHOS QUE LLEVAN IMPLÍCITO EL USO DEL MATERIAL. POR ELLO, DICHA INFORMACIÓN COMPARTIDA SE ENTENDERÁ POR CEDIDA POR PARTE DEL “USUARIO” A “CILANTRO MEDIA”.</p>

                    <p>EN EL CASO DE QUE EL “USUARIO” NO ESTÉ  DE ACUERDO CON LO SEÑALADO EN EL PÁRRAFO QUE ANTECEDE, DEBERÁ ABSTENERSE DE ENVIAR CONTENIDO Y/O MATERIAL NO SOLICITADO POR “CILANTRO MEDIA”.</p>

                    <p>DÉCIMA QUINTA.- DERECHOS DE AUTOR Y PROPIEDAD INTELECTUAL.- TODO EL CONTENIDO DE LOS SERVICIOS ESTÁ AMPARADO POR DERECHOS DE AUTOR Y DE PROPIEDAD INDUSTRIAL E INTELECTUAL. ESTÁ PROHIBIDA SU REPRODUCCIÓN TOTAL O PARCIAL.</p>

                    <p>EL “USUARIO” SE OBLIGA A NO REPRODUCIR, DUPLICAR, VENDER O EXPLOTAR POR RAZONES COMERCIALES, LA TOTALIDAD Y/O PARTE DE LOS SERVICIOS O DEL CONTENIDO BAJO CIRCUNSTANCIA ALGUNA.</p>

                    <p>EL “USUARIO” RECONOCE QUE EL SERVICIO Y CUALQUIER SOFTWARE QUE SEA NECESARIO PARA SER UTILIZADO EN CONEXIÓN CON EL SERVICIO, PUEDE CONTENER INFORMACIÓN AJENA Y CONFIDENCIAL QUE PUEDE ESTAR PROTEGIDA POR LAS LEYES DE PROPIEDAD INTELECTUAL Y OTRAS LEYES APLICABLES.</p>

                    <p>QUEDAN RESERVADOS TODOS LOS DERECHOS DE PROPIEDAD INDUSTRIAL Y/O INTELECTUAL Y DERECHOS DE AUTOR DE LA PÁGINA DE INTERNET EN FAVOR DE “CILANTRO MEDIA”.</p>

                    <p>DÉCIMA SEXTA.- OBLIGACIONES DEL “USUARIO” DEL SITIO:</p>

                    <p>(A) SE SUJETA A CUMPLIR CON LA LEY Y AL CONTENIDO DE LOS TÉRMINOS Y CONDICIONES ASÍ COMO DEL AVISO DE PRIVACIDAD Y DEMÁS DOCUMENTOS CONTRACTUALES DEL SITIO WEB.</p>

                    <p>(B) PROVEERÁ AL SITIO WEB INFORMACIÓN COMPLETA, CORRECTA, ACTUALIZADA Y FIDEDIGNA.</p>

                    <p>(C) MANTENER DE MANERA SECRETA Y CONFIDENCIAL SU CONTRASEÑA DE ACCESO AL SITIO WEB. EN CASO DE PÉRDIDA, EXTRAVÍO O QUE UN TERCERO CONOZCA SU CONTRASEÑA, LE RECOMENDAMOS LLEVAR A CABO EL CAMBIO DE LA MISMA EN EL SITIO WEB. EL “USUARIO” ES RESPONSABLE DE CUALQUIER ACCIÓN QUE SEA REALIZADA A TRAVÉS DE SU CUENTA OCURRIDA HASTA ANTES DE QUE HAYA CAMBIADO SU CONTRASEÑA. “CILANTRO MEDIA” NO ASUME OBLIGACIÓN ALGUNA CON RESPECTO A ESAS ACCIONES.</p>

                    <p>(D) EL “USUARIO” SE OBLIGA A NO UTILIZAR EL SITIO WEB PARA:</p>

                    <p>(I) PARTICIPAR, FOMENTAR O HACER APOLOGÍA DE UN DELITO; PARA REALIZAR ACCIONES QUE VIOLEN LOS DERECHOS DE TERCEROS O QUE RESULTEN EN LA VIOLACIÓN DE ALGÚN LEY NACIONAL O INTERNACIONAL;</p>

                    <p>(II) HACERSE PASAR POR OTRA PERSONA U ENTIDAD O USAR DE MANERA FALSA O FRAUDULENTA, Y</p>

                    <p>(III) DIFUNDIR A TRAVÉS DE LA PLATAFORMA DEL SITIO WEB CUALQUIER INFORMACIÓN, PROGRAMA O CÓDIGO QUE PUDIERA CAUSAR UN DAÑO INCLUYENDO UN VIRUS, TROYANOS, GUSANOS U OTROS CÓDIGOS DE PROGRAMACIÓN INFORMÁTICA QUE PUDIERAN DAÑAR, ESPIAR, INTERFERIR, INTERCEPTAR O EXTRAER INFORMACIÓN O DATOS PERSONALES DE NUESTROS SISTEMAS INFORMÁTICOS, DE LA PLATAFORMA SOBRE LA QUE SE OPERA, O DE LOS EQUIPOS, REDES, SISTEMAS Y PROGRAMAS DE CÓMPUTO QUE UTILICEN NUESTROS USUARIOS PARA INTERACTUAR CON EL SITIO WEB.</p>

                    <p>DÉCIMA SÉPTIMA.- ENLACES A SITIOS DE TERCEROS (LINKS).- EN ALGUNOS CASOS, “CILANTRO MEDIA” PROPORCIONA ENLACES (LINKS) A OTROS SITIOS DE INTERNET Y/O A OTROS RECURSOS DE TERCEROS. EN VIRTUD DE QUE “CILANTRO MEDIA” NO TIENE CONTROL SOBRE DICHOS SITIOS O SUS RECURSOS, EL “USUARIO” RECONOCE Y ACEPTA QUE “CILANTRO MEDIA” NO ES NI SERÁ RESPONSABLE POR LA DISPONIBILIDAD DE DICHOS SITIOS EXTERNOS Y AJENOS A “CILANTRO MEDIA” O DEL ACCESO A LOS MISMOS, NI DE LOS RECURSOS QUE ÉSTOS UTILICEN Y NO ACEPTA NI ACEPTARÁ SER CONSIDERADO COMO RESPONSABLE POR LA IMPOSIBILIDAD DE ACCESO A ÉSTOS NI DE CUALQUIER CONTENIDO, ANUNCIOS, PRODUCTOS U OTROS MATERIALES DE O DISPONIBLES EN DICHOS SITIOS O RECURSOS.</p>

                    <p>DE LA MISMA FORMA, “CILANTRO MEDIA” NO SERÁ RESPONSABLE POR PÉRDIDAS O DAÑOS CAUSADOS O SUPUESTAMENTE CAUSADOS POR O EN CONEXIÓN CON EL USO LA SEGURIDAD SOBRE DICHO CONTENIDO, PRODUCTOS O SERVICIOS DISPONIBLES EN O A TRAVÉS DE CUALQUIERA DE DICHOS SITIOS O RECURSOS.</p>

                    <p>DÉCIMA OCTAVA.- USO DE COOKIES.- SON PEQUEÑOS ARCHIVOS DE DATOS QUE SE ALMACENAN EN EL DISCO DURO DE SU EQUIPO DE CÓMPUTO O DEL DISPOSITIVO DE COMUNICACIÓN ELECTRÓNICA QUE EL “USUARIO” UTILIZA CUANDO NAVEGA EN NUESTRO SITIO WEB. ESTOS ARCHIVOS DE DATOS PERMITEN INTERCAMBIAR INFORMACIÓN DE ESTADO ENTRE NUESTRO SITIO WEB Y EL NAVEGADOR QUE USTED UTILIZA. EN EL CASO DE EMPLEO DE COOKIES, EL BOTÓN DE “AYUDA” QUE SE ENCUENTRA EN LA BARRA DE HERRAMIENTAS DE LA MAYORÍA DE LOS NAVEGADORES LE DIRÁ COMO EVITAR ACEPTAR NUEVAS COOKIES, COMO HACER QUE EL NAVEGADOR LE NOTIFIQUE CUANDO RECIBE UNA NUEVA COOKIE O COMO DESHABILITAR TODAS LAS COOKIES.</p>

                    <p>DÉCIMA NOVENA.- INDEMNIZACIÓN.- EN TODOS LOS CASOS QUE SE DERIVEN  DEL PRESENTE CONTRATO EN VIRTUD DE INCUMPLIMIENTO O RESPONSABILIDAD DEL “USUARIO”, ÉSTE ACEPTA SER RESPONSABLE Y ACUERDA INDEMNIZAR, MANTENER Y SACAR EN PAZ Y A SALVO A “CILANTRO MEDIA”, SUS DIRECTORES, FUNCIONARIOS, EMPLEADOS, COLABORADORES, PROVEEDORES, AGENTES Y/O ACCIONISTAS, EN Y DE CUALQUIER RECLAMO Y/O DEMANDA, INCLUYENDO HONORARIOS DE ABOGADOS Y COSTAS Y GASTOS DE JUICIOS, HECHOS POR TERCERAS PARTES DEBIDO A O DERIVADO DE: (A) EL CONTENIDO QUE ENTREGUE, PUBLIQUE, ENVÍE POR CORREO ELECTRÓNICO, FOROS ABIERTOS U OTROS SERVICIOS DE “CILANTRO MEDIA” O DE OTRA MANERA TRANSMITA A TRAVÉS DE LOS SERVICIOS; (B) POR LA UTILIZACIÓN DEL SERVICIO; (C) LA CONEXIÓN CON O A LOS SERVICIOS; (D) CUALQUIER VIOLACIÓN AL CONTRATO DEL “USUARIO” O LOS CONTRATOS ESPECÍFICOS; O (E) CUALQUIER INFRACCIÓN Y/O VIOLACIÓN QUE RESPECTO A CUALQUIERA DE LOS DERECHOS DE PROPIEDAD, DE AUTOR, MARCAS O DE OTRO DERECHO DE CUALQUIER PERSONA O ENTIDAD. (F) POR AFECTACIONES A TERCEROS DERIVADO DE VIOLACIONES O PRESUNTAS VIOLACIONES A LA NORMATIVIDAD APLICABLE.</p>

                    <p>VIGÉSIMA.- TERMINACIÓN.- TODO “USUARIO” DEL SERVICIO, ACEPTA Y ACUERDA QUE “CILANTRO MEDIA”, A SU EXCLUSIVA DISCRECIÓN Y SIN NOTIFICACIÓN PREVIA, PUEDE TERMINAR O SUSPENDER EL USO DE LA TOTALIDAD O PARTE DE LOS SERVICIOS POR CUALQUIER CAUSA O RAZÓN, POR LO QUE RECONOCEN QUE “CILANTRO MEDIA” NO SERÁ RESPONSABLE FRENTE A LOS USUARIOS O FRENTE A TERCEROS POR DICHA TERMINACIÓN O SUSPENSIÓN.</p>

                    <p>VIGÉSIMA PRIMERA.- VIOLACIÓN AL CONTRATO DE UTILIZACIÓN DE SERVICIOS DEL “USUARIO”.- “CILANTRO MEDIA” SOLICITA A TODOS LOS USUARIOS, QUE REPORTEN CUALQUIER VIOLACIÓN AL PRESENTE CONTRATO POR PARTE DE OTROS USUARIOS EN CUANTO TENGAN CONOCIMIENTO DE ELLO A TRAVÉS DE LA SECCIÓN DE "COMENTARIOS Y SUGERENCIAS" QUE ENCONTRARÁN EN LA PÁGINA PRINCIPAL DE “CILANTRO MEDIA”.</p>

                    <p>VIGÉSIMA SEGUNDA.- LÍMITE DE RESPONSABILIDAD.- “CILANTRO MEDIA” DE NINGÚN MODO PUEDE GARANTIZAR QUE LOS SERVICIOS: (A) CUMPLAN CON LOS REQUISITOS APROPIADOS, REQUERIDOS O ESPERADOS PARA O POR CADA UNO DE LOS USUARIOS; (B) NO SE INTERRUMPAN; (C) LLEGUEN A TIEMPO; (D) LLEGUEN CON CIERTO NIVEL DE VELOCIDAD; (E) LLEGUEN SIN ERRORES; (F) O QUE LOS RESULTADOS OBTENIDOS POR EL USO DE LOS MISMOS SEAN EXACTOS Y/O CONFIABLES; (G) CUMPLA LAS EXPECTATIVAS DE LOS USUARIOS.</p>

                    <p>“CILANTRO MEDIA” NO GARANTIZA QUE CUALQUIER ERROR EN EL SOFTWARE DE LOS SERVICIOS SEAN O PUEDAN SER CORREGIDOS TOTAL O PARCIALMENTE, POR LO QUE “CILANTRO MEDIA” NO ESTARÁ OBLIGADO A REALIZAR CONCESIÓN ALGUNA. “CILANTRO MEDIA” NO SERÁ RESPONSABLE POR DAÑOS DIRECTOS, INDIRECTOS, MORALES, ESPECIALES O CONSECUENCIALES QUE RESULTEN DEL USO DEL SERVICIO O DE LA IMPOSIBILIDAD PARA USARLO.</p>

                    <p>VIGÉSIMA TERCERA.- TÍTULOS DE LAS CLÁUSULAS Y DE LAS DECLARACIONES.-  LOS ENUNCIADOS QUE PRECEDEN A LAS CLÁUSULAS Y DECLARACIONES DE ESTE CONTRATO HAN SIDO PUESTOS SOLO CON EL PROPÓSITO DE FACILITAR SU CONSULTA E IDENTIFICACIÓN, PERO EN NINGÚN CASO LIMITAN O CONDICIONAN PARA LAS PARTES O PARA TERCEROS EL CONTENIDO DE LAS RESPECTIVAS ESTIPULACIONES.</p>

                    <p>VIGÉSIMA CUARTA.- AUSENCIA DE VICIOS DE LA VOLUNTAD.- LAS PARTES DECLARAN QUE EN ESTE CONTRATO NO EXISTE DOLO, ERROR, LESIÓN, VIOLENCIA, O ALGÚN OTRO VICIO QUE PUDIERA INVALIDARLO. “EL “USUARIO” HACE USO DE LA PRESENTE PÁGINA DE INTERNET BAJO SU MÁS AMPLIA LIBERTAD Y EN EL MOMENTO QUE LO CONSIDERE NECESARIO, PODRÁ TERMINAR LA RELACIÓN CONTRACTUAL A TRAVÉS DEL NO USO DEL PRESENTE PORTAL.</p>

                    <p>VIGÉSIMA QUINTA.- LEYES APLICABLES Y TRIBUNALES COMPETENTES.- PARA TODO LO RELATIVO A LA INTERPRETACIÓN Y CUMPLIMIENTO DEL PRESENTE CONTRATO, LAS PARTES SE SOMETEN EXPRESAMENTE A LA JURISDICCIÓN Y COMPETENCIA DE LAS LEYES Y TRIBUNALES CIVILES DE LA CIUDAD DE MÉXICO, RENUNCIANDO EXPRESAMENTE A CUALQUIER OTRO FUERO QUE POR RAZÓN DE SU ACTUAL O FUTURO DOMICILIO, LUGAR DE ACCESO DEL “USUARIO” O POR CUALQUIER OTRA CAUSA, PUDIERE LLEGAR A CORRESPONDERLES.</p>

                    <p>DUDAS O QUEJAS</p>

                    <p>SI USTED TIENE ALGUNA PREGUNTA O DESEA CONTACTARNOS POR ALGUNA RAZÓN, USTED PUEDE UTILIZAR CUALQUIERA DE LOS SIGUIENTES MEDIOS DE CONTACTO:</p>

                    <p>A.- COMUNÍQUESE CON NOSOTROS AL TELÉFONO 53 47 13 06.</p>

                    <p>B.- ENVÍENOS UN CORREO A contacto@cilantromedia.mx</p>

                    <br />
                </div>
            </div>
        </div>
    </section>
{% endblock %}