{% extends(':CilantroMedia/Home:base.html.twig') %}

{% block body %}
    <section class="innerpage-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Contáctenos</h2>
                    <p class="tagline">Ayúdenos a crear sus historias.</p>
                </div>
                <div class="col-md-12 text-right">
                    <div class="other-page-link"> <a href="{{ path('cilantro_media_home_index') }}"><i class="fa fa-circle"></i>Inicio</a> <span><i class="fa fa-angle-right"></i>Contáctanos</span> </div>
                </div>
            </div>
        </div>
    </section>

    <section id="area-main" class="top-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div id="map_canvas"></div>
                </div>
            </div>
            <div class="row contact">
                <div class="col-md-4">
                    <h3>Contáctenos</h3>
                    <ul class="address">
                        <li><i class="icon-icons158"></i>Av. de las Granjas #590<br />
                            02310, México</li>
                        <li><i class="icon-icons202"></i>(55) 5347-13-06</li>
                        <li><a href="mailto:contacto@cilantromedia.mx"><i class="icon-icons208"></i>contacto@cilantromedia.mx</a></li>
                    </ul>
                    <h3>Horario</h3>
                    <p><span>Lun a Vie:</span> 09:00 - 17:00</p>
                    <p><span>Sab y Dom:</span> Cerrado</p>
                    <ul class="social-link">
                        <li><a href="#" class="text-center"><i class="fa fa-facebook"></i><span></span></a></li>
                        <li><a href="#" class="text-center"><i class="fa fa-twitter"></i><span></span></a></li>
                        <li><a href="#" class="text-center"><i class="fa fa-youtube"></i><span></span></a></li>
                        <li><a href="#" class="text-center"><i class="fa fa-instagram"></i><span></span></a></li>
                    </ul>
                </div>
                <div class="col-md-8" id="form-box">
                    <form class="form-inline contact-margin" id="contact-form" onSubmit="return false">

                        <div id="result"></div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                <input type="text" class="form-control" name="name" id="name"  placeholder="Nombre" required>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                <input type="email" class="form-control" name="email" id="email"  placeholder="E-mail" required>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                <input type="text" class="form-control" name="telephone" id="telephone"  placeholder="Teléfono">
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                                <input type="text" class="form-control" name="subject" id="subject"  placeholder="Asunto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <textarea placeholder="Mensaje..." name="message" id="message"></textarea>
                                <button id="submit_btn">ENVIAR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
<script src="{{ asset('bundles/cilantromedia/home-assets/js/jquery.mapit.js') }}"></script>
<script src="{{ asset('bundles/cilantromedia/home-assets/js/map_initializer.js') }}"></script>

<script type="text/javascript">
    $("#submit_btn").click(function() {
        var user_name       = $('input[name=name]').val();
        var user_email      = $('input[name=email]').val();
        var user_telephone      = $('input[name=telephone]').val();
        var user_subject      = $('input[name=subject]').val();
        var user_message    = $('textarea[name=message]').val();

        var proceed = true;
        if(user_name==""){
            proceed = false;
        }
        if(user_email==""){
            proceed = false;
        }
        if(user_message=="") {
            proceed = false;
        }

        if(proceed)
        {
            post_data = {'userName':user_name, 'userEmail':user_email, 'userTelephone':user_telephone, 'userSubject':user_subject, 'userMessage':user_message};

            $.post('{{ path('cilantro_media_contact_send') }}', post_data, function(response){
                if(response.type == 'error')
                {
                    output = '<div class="error">'+response.text+'</div>';
                }else{
                    output = '<div class="success">'+response.text+'</div>';

                    $('.form-inline input').val('');
                    $('.form-inline textarea').val('');
                }

                $("#result").hide().html(output).slideDown();
            }, 'json');

        }
    });
</script>
{% endblock %}