{% extends(':CilantroMedia/Home:base.html.twig') %}

{% block body %}
    <section class="innerpage-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Código de ética</h2>
                </div>
                <div class="col-md-12 text-right">
                    <div class="other-page-link"> <a href="{{ path('cilantro_media_home_index') }}"><i class="fa fa-circle"></i>Inicio</a> <span><i class="fa fa-angle-right"></i>Código de ética</span> </div>
                </div>
            </div>
        </div>
    </section>

    <section id="area-main" class="top-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>Código de ética</h3>

                    <br />

                    <p>Cada uno de los contenidos derivados o producidos por CILANTRO MEDIA, ya sean parte de su línea de servicios de comunicación, interactivos, información en línea o ligados a su naturaleza, deben respetar la dignidad de la persona, sus derechos, así como el libre desarrollo de su personalidad. Los principios de igualdad en los mismos deben prevalecer sin incurrir en discriminación alguna por razón de nacionalidad, género, raza, opinión, orientación sexual, ideología, o cualquier otra circunstancia de carácter personal y/o social. Asimismo, se debe respetar la intimidad personal y familiar de la persona, tal como su imagen, y su entereza como sea previsto en las normativas vigentes de tratarse de un individuo catalogado dentro de las consideraciones de juventud e infancia. </p>

                    <br />

                    <p>Conforme al último punto, CILANTRO MEDIA debe respetar, en cualquiera de sus representaciones (línea de servicios de comunicación, interactivos, información en línea o cualquier otro ligado a su naturaleza), así como fomentar, la protección de la juventud e infancia, con especial énfasis en los que correspondan a escenas o mensajes que puedan perjudicar su desarrollo moral, físico o mental, entre los que merecen destacarse contenidos violentos, xenófobos, sexistas, racistas, los que inciten al consumo no responsable, la adulación excesiva a la imagen, mensajes que incurran en el abuso del lenguaje inadecuado, que afecten el respeto ajeno o que violen de forma alguna aquello destinado a los derechos del honor, intimidad y privacidad de las personas.</p>

                    <br />

                    <p>Cualquier contenido generado por CILANTRO MEDIA, ya sean audiovisuales, interactivos, de información en línea o derivados de la firma y/o sus creadores, que se destine a menores, serán elaborados bajo las más rigurosas normas profesionales y por entes cualificados para tal misión. De igual manera, CILANTRO MEDIA desarrollará iniciativas con fines de sensibilización sobre los problemas en la infancia dirigidas a sus profesionales que se relacionen con la creación y divulgación del contenido generado, así sean redactores, diseñadores, productores, programadores o emisores de los mismos.</p>

                    <br /><br />
                </div>
            </div>
        </div>
    </section>
{% endblock %}