{% extends(':CilantroMedia/Home:base.html.twig') %}

{% block body %}
    <section class="innerpage-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Misión</h2>
                </div>
                <div class="col-md-12 text-right">
                    <div class="other-page-link"> <a href="{{ path('cilantro_media_home_index') }}"><i class="fa fa-circle"></i>Inicio</a> <span><i class="fa fa-angle-right"></i>Misión</span> </div>
                </div>
            </div>
        </div>
    </section>

    <section id="area-main" class="top-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>Misión</h3>

                    <br />

                    <p>Promover nuestros productos y servicios creativos entre el mercado nacional que busca innovación y atención al detalle para culminar con proyectos de calidad en lo social y comercial.</p>

                    <br /><br />
                </div>
            </div>
        </div>
    </section>
{% endblock %}