{% extends(':CilantroMedia/Home:base.html.twig') %}

{% block body %}
    <section class="innerpage-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Nosotros</h2>
                </div>
                <div class="col-md-12 text-right">
                    <div class="other-page-link"> <a href="{{ path('cilantro_media_home_index') }}"><i class="fa fa-circle"></i>Inicio</a> <span><i class="fa fa-angle-right"></i>Nosotros</span> </div>
                </div>
            </div>
        </div>
    </section>

    <section id="area-main" class="top-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>Nosotros</h3>

                    <br />

                    <p>CILANTRO MEDIA nace como una empresa de medios y producción audiovisual en 2015 con la intención de generar un cambio en el punto de vista generalizado de la sociedad actual, en la que nuestros clientes y proyectos buscan siempre identificarse como material de calidad con neutralidad o enmarcando lo positivo de su existencia.</p>

                    <br /><br />
                </div>
            </div>
        </div>
    </section>
{% endblock %}