{% extends(':CilantroMedia/Home:base.html.twig') %}

{% block body %}
    <section class="innerpage-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Política de privacidad</h2>
                    <p class="tagline">COVIA S.A DE C.V.</p>
                </div>
                <div class="col-md-12 text-right">
                    <div class="other-page-link"> <a href="{{ path('cilantro_media_home_index') }}"><i class="fa fa-circle"></i>Inicio</a> <span><i class="fa fa-angle-right"></i>Política de privacidad</span> </div>
                </div>
            </div>
        </div>
    </section>

    <section id="area-main" class="top-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>RESPONSABLE DEL TRATAMIENTO DE DATOS PERSONALES</h3>

                    <br />

                    <p>De conformidad con la Ley Federal de Protección de Datos Personales en Posesión de Particulares (la “Ley”), <b>COVIA, S.A. de C.V. (“CILANTRO MEDIA”)</b> con domicilio en Ave de las Granjas 509, reconoce que la privacidad y la seguridad de sus Datos Personales y Datos Personales Sensibles, incluyendo sus datos financieros o patrimoniales o los de su representado, en su caso, los cuales tendrán el significado que se les atribuye en el artículo 3 de la Ley, constituyen derechos de suma importancia para Usted o para su representado, en su caso,  por lo cual CILANTRO MEDIA se encuentra obligada a resguardarlos bajo los más altos índices de seguridad legal, tecnológica y administrativa, comprometiéndose en todo momento a no vender, compartir o divulgar los mismos a terceros con fines ilícitos o contrarios al objeto para el cual los proporciona su titular.</p>

                    <p>En virtud de lo anterior, el presente Aviso de Privacidad se extiende a toda la información, incluyendo los Datos Personales y Datos Personales Sensibles e incluso datos financieros o patrimoniales recopilados por CILANTRO MEDIA, sus empresas afiliadas y subsidiarias, así como por terceros con los que CILANTRO MEDIA celebre o vaya a celebrar relación contractual alguna, a efecto de brindarle a Usted o a su representado, en su caso, los servicios personalizados de que se trate. En consecuencia, nos permitimos solicitarle leer cuidadosamente los Términos y Condiciones contenidos en este documento, aceptando dichos Términos y Condiciones, así como otorgándonos su autorización para el tratamiento y transferencia de los mismos en los términos del presente documento:</p>

                    <p>Este “Aviso de Privacidad” corresponde a los siguientes medios:</p>

                    <ul style="list-style-type: circle;">
                        <li>Territorio Informativo (www.territorioinformativo.com)</li>
                        <li>Blog del hombre (www.blogdelhombre.com)</li>
                        <li>Cilantro media (www.cilantromedia.mx)</li>
                    </ul>

                    <br />

                    <h3>FINALIDAD DEL TRATAMIENTO DE LOS DATOS PERSONALES</h3>

                    <br />

                    <p>Los Datos Personales en posesión de CILANTRO MEDIA serán utilizados para:</p>

                    <ul style="list-style-type: circle;">
                        <li>Proveerle un bien o servicio de radiodifusión, televisión, periodístico, informativo, de suscripción y demás servicios informativos relacionados con la actividad del responsable.</li>
                        <li>Brindarle información, servicios, productos o eventos, incluyendo el envío de publicidad y boletines informativos de cualquier medio perteneciente a CILANTRO MEDIA, así como de promotores o anunciantes relacionados con estos.</li>
                        <li>Seguimiento y evaluación de la calidad del servicio.</li>
                        <li>Análisis interno de servicios.</li>
                    </ul>

                    <br />

                    <h3>FINALIDADES DISTINTAS</h3>

                    <br />

                    <p>De manera adicional, utilizaremos su información personal para los siguientes fines y que no es necesaria para el servicio inicialmente solicitado, pero que nos permite y facilita brindarle una mejor atención:</p>
                    <ul style="list-style-type: circle;">
                        <li>Realizar actividades de mercadeo y promoción.</li>
                        <li>Ofrecerle nuevos productos o servicios.</li>
                        <li>Análisis estadísticos y de mercado.</li>
                        <li>Invitación a eventos y/o concursos.</li>
                    </ul>

                    <br />

                    <p>En caso de que no desee que sus datos personales sean tratados para estos fines adicionales deberá manifestar su negativa enviando un correo electrónico a la siguiente dirección privacidad@cilantromedia.mx.</p>

                    <br />

                    <h3>DATOS PERSONALES</h3>

                    <br />

                    <p>Para llevar a cabo las finalidades descritas en el presente “Aviso de Privacidad”, recabaremos principalmente los siguientes datos personales:</p>

                    <ul style="list-style-type: circle;">
                        <li>Nombre completo.</li>
                        <li>Dirección (calle, colonia, código postal, delegación o municipio y estado) y referencias de ubicación.</li>
                        <li>Teléfonos (fijo y móvil).</li>
                        <li>Correo electrónico.</li>
                    </ul>

                    <br />

                    <h3>DATOS PATRIMONIALES</h3>

                    <br />

                    <p>En algunos casos, para efectos de realizar una venta de un bien, servicio o concursos se solicitan datos financieros que son tratados de manera segura, por lo que garantizamos la protección de los mismos. Los datos financieros que solicitamos son:</p>

                    <ul style="list-style-type: circle;">
                        <li>Información de cuentas bancarias.</li>
                        <li>Información de tarjetas de crédito y/o débito.</li>
                    </ul>

                    <br />

                    <h3>TRANSFERENCIA</h3>

                    <br />

                    <p>CILANTRO MEDIA  puede transferir los datos personales en su posesión a terceros subcontratados o relacionados con la prestación de servicios.</p>

                    <br />

                    <h3>MEDIOS PARA EJERCER DERECHOS ARCO (ACCESO, RECTIFICACIÓN, CANCELACIÓN Y OPOSICIÓN)</h3>

                    <br />

                    <p>Usted tiene derecho a conocer qué datos personales tenemos de usted y poder ejercerlos para:</p>

                    <ul style="list-style-type: circle;">
                        <li>Acceso: Conocer sus datos personales y el estado en que se encuentran.</li>
                        <li>Rectificación: Solicitar la corrección de sus datos personales en caso de que esté desactualizada, sea inexacta o incompleta.</li>
                        <li>Cancelación: Eliminar sus datos personales de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la Ley y su Reglamento.</li>
                        <li>Oposición: Oponerse al uso de sus datos personales para fines específicos.</li>
                    </ul>

                    <br />

                    <p>Lo anterior se conoce como derechos ARCO.</p>

                    <p>Para el ejercicio de cualquiera de los derechos ARCO, usted deberá enviar un mensaje al correo electrónico privacidad@cilantromedia.mx, la solicitud le requiere la siguiente información:</p>

                    <ul style="list-style-type: circle;">
                        <li>Nombre del titular.</li>
                        <li>Domicilio del titular o dirección de correo electrónico para comunicar respuesta a solicitud.</li>
                        <li>Documentos que acrediten identidad o autorización para presentarlo en la solicitud.</li>
                        <li>Cualquier otro elemento que permita la localización de los datos personales y atención a la solicitud.</li>
                    </ul>


                    <br />

                    <h3>MEDIOS PARA REVOCAR CONSENTIMIENTO</h3>

                    <br />

                    <p>Para revocar el consentimiento para tratar sus datos personales, usted deberá descargar, llenar, firmar y enviar la solicitud al correo electrónico privacidad@cilantromedia.mx</p>

                    <br />

                    <h3>LIMITACIÓN DE USO Y DIVULGACIÓN DE DATOS PERSONALES</h3>

                    <br />

                    <p>Para limitar el uso de sus datos personales, favor de enviar un correo electrónico a privacidad@cilantromedia.mx en el que señale la limitación al uso de datos deseados.</p>

                    <br />

                    <h3>COOKIES</h3>

                    <br />

                    <p>Las cookies son pequeñas piezas de información que son enviadas por el sitio web a su navegador y se almacenan en el disco duro de su equipo. Se utilizan para determinar sus preferencias cuando se conecta a los servicios de nuestro sitio, así como para rastrear determinados comportamientos o actividades llevadas a cabo por usted dentro de nuestro sitio. La información que se colecta es anónima, y puede ser compartida con terceros para mejorar su experiencia de navegación y entregar publicidad en base a sus intereses. Estos datos no incluyen ningún tipo de información de identificación personal.</p>

                    <p>El usuario puede optar por que no sean recolectados sus datos.</p>

                    <br />

                    <h3>NOTIFICACIÓN DE CAMBIOS AL AVISO DE PRIVACIDAD</h3>

                    <br />

                    <p>En su caso, las modificaciones a este “Aviso de Privacidad” estarán disponibles en esta misma página</p>

                    <br />
                </div>
            </div>
        </div>
    </section>
{% endblock %}