{% extends(':CilantroMedia/Home:base.html.twig') %}

{% block body %}
    <section class="innerpage-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Política de privacidad</h2>
                    <p class="tagline">COVIA S.A DE C.V.</p>
                </div>
                <div class="col-md-12 text-right">
                    <div class="other-page-link"> <a href="{{ path('cilantro_media_home_index') }}"><i class="fa fa-circle"></i>Inicio</a> <span><i class="fa fa-angle-right"></i>Política de privacidad</span> </div>
                </div>
            </div>
        </div>
    </section>

    <section id="area-main" class="top-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p>De conformidad con lo establecido por la Ley Federal de Protección de Datos Personales en
                        Posesión de Particulares (en adelante la Ley), COVIA, S.A. de C.V. y/o CILANTRO MEDIA,
                        denominación comercialmente conocida comúnmente por el público en general (en adelante
                        "CILANTRO") con domicilio en Avenida de las Granjas No. 591, Ferrería, Azcapotzalco, Ciudad
                        de México, C.P. 02310, es responsable del tratamiento de sus datos personales y pone a su
                        disposición el presente aviso de privacidad; asimismo, hace de su conocimiento que los datos
                        personales que actualmente o en el futuro obren en nuestra base de datos o archivos, serán
                        tratados, utilizados y clasificados de forma estrictamente CONFIDENCIAL.</p>


                    <b>Los datos que se recaban son los siguientes:</b>

                    <ul>
                        <li>Nombre</li>
                        <li>Teléfonos (fijo y/o móvil)</li>
                        <li>Correo electrónico.</li>
                    </ul>

                    <br />

                    <b>La información se tratará para la siguiente finalidad:</b>

                    <ul>
                        <li>Proveer servicios por Internet de radiodifusión, televisión, periodístico e informativo.</li>
                        <li>Notificar publicidad, promociones, servicios, avisos, invitaciones, descuentos, información y cotizaciones de nuestros servicios.</li>
                        <li>Suscripción de usuarios a nuestros servicios.</li>
                        <li>Establecer contacto con los clientes.</li>
                        <li>Evaluar la calidad de los servicios.</li>
                    </ul>

                    <br />

                    <p>Podemos recabar sus datos personales de distintas formas: cuando usted nos proporciona la
                        información con la finalidad de que le brinde un servicio o cuando obtenemos información a
                        través de otras fuentes que estén permitidas por la ley.</p>

                    <p>Sus datos personales no serán trasferidos o difundidos a terceros para fines distintos a los
                        antes mencionados, con excepción de los casos previstos en la Ley.</p>

                    <p>Es importante informarle que usted tiene en todo momento el derecho para ejercer sus
                        derechos ARCO (Acceso, Rectificación, Cancelación y Oposición) de sus datos personales o a
                        revocar en cualquier momento el consentimiento que para dicho fin nos haya otorgado.</p>

                    <p>Los titulares podrán ejercer los derechos antes mencionados de forma gratuita, mediante una
                        solicitud por escrito dirigida al Departamento de Protección de Datos Personales, la cual
                        deberá ser presentada en Avenida de las Granjas No. 591, Ferrería, Azcapotzalco, Ciudad de
                        México, C.P. 02310 o al correo electrónico contacto@cilantromedia.mx</p>



                    <p>Todas las solicitudes que sean presentadas a “CILANTRO”, independientemente del formato
                        utilizado por los titulares deberán:</p>

                    <ul>
                        <li>Incluir el nombre del titular, domicilio así como otro medio para comunicarle la respuesta a su solicitud.</li>
                        <li>Acompañar los documentos oficiales que acrediten la identidad del titular o la representación legal.</li>
                        <li>Incluir una descripción clara y precisa de los datos personales respecto de los cuales ejercitará los derechos que les confiere la Ley así como que tipo de derecho va a ejercitar sobre sus datos personales.</li>
                        <li>Incluir cualquier elemento o documento que facilite la localización de los datos personales de que se traten.</li>
                        <li>En caso de solicitar una rectificación de datos, deberá indicar también las modificaciones a realizarse y aportar la documentación que sustente su petición.</li>
                    </ul>


                    <p>Solicitamos confirme de recibido vía telefónica para garantizar su correcta recepción y
                        atención al teléfono 53 47 13 06. Tenemos un plazo máximo de respuesta de veinte días
                        hábiles para informarle la respuesta a su petición o sobre la procedencia de la misma.</p>

                    <p>Una vez presentada su solicitud, el Departamento de Protección de Datos Personales podrá
                        solicitarle en un período no mayor a 10 días hábiles, la información y/o documentación
                        necesaria para su seguimiento, así como para la acreditación de su identidad, de acuerdo a los
                        términos que establece la Legislación. Por lo que usted contará con 10 días hábiles
                        posteriores a su recepción, para atender este requerimiento. De lo contrario su solicitud se
                        tendrá por no presentada.</p>

                    <p>La revocación y el ejercicio de los Derechos Arco son gratuitos, debiendo usted cubrir
                        únicamente los gastos justificados de envío o el costo de reproducción en copias u otros
                        formatos establecidos en la solicitud.</p>

                    <p>Si el usuario no está de acuerdo con el contenido del presente aviso de privacidad deberá
                        abstenerse de usar la presente página de Internet. El uso de la página representa un
                        consentimiento expreso respecto de la aceptación del presente aviso de privacidad y del uso
                        de sus datos personales.</p>

                    <p>Cookies.- Son pequeños archivos de datos que se almacenan en el disco duro de su equipo de
                        cómputo o del dispositivo de comunicación electrónica que el usuario utiliza cuando navega
                        en nuestro sitio Web. Estos archivos de datos permiten intercambiar información de estado
                        entre nuestro sitio Web y el navegador que usted utiliza. En el caso de empleo de cookies,
                        el botón de “ayuda” que se encuentra en la barra de herramientas de la mayoría de los
                        navegadores le dirá como evitar aceptar nuevas cookies, como hacer que el navegador le
                        notifique cuando recibe una nueva cookie o como deshabilitar todas las cookies.</p>

                    <p>Es importante destacar que los padres de familia tienen que estar atentos al uso de medios
                        electrónicos de sus hijos menores de edad, por ello, se les recomienda estar al pendiente y
                        asumir un papel de vigilancia en el uso que sus hijos realizan en Internet. No es nuestra
                        intención el recopilar información de niños y, en general, de menores de 18 años de edad.
                        Si eres menor de 18 años, no debes proporcionar información a nuestro sitio Web.</p>

                    <p>"CILANTRO" se reserva el derecho de cambiar, modificar y/o complementar el presente aviso en
                        cualquier momento en cuyo caso se hará de su conocimiento a través de cualquiera de los
                        medios que establece la legislación de la materia, mediante anuncio visible en nuestra
                        oficina, en nuestra página de Internet www.cilantromedia.mx  o puede solicitarlo al correo
                        electrónico contacto@cilantromedia.mx o al teléfono 53 47 13 06.</p>

                    <p>Si usted quiere dejar de recibir mensajes permanentes de “CILANTRO” por favor solicite su
                        baja o cancelación en nuestra base de datos al correo electrónico contacto@cilantromedia.mx</p>

                    <p>En lo no dispuesto por el presente aviso de privacidad, se aplicará supletoriamente la Ley
                        Federal de Protección de Datos Personales en Posesión de Particulares y su Reglamento.</p>

                    <br />
                </div>
            </div>
        </div>
    </section>
{% endblock %}