{% extends(':CilantroMedia/Home:base.html.twig') %}

{% block body %}
    <section class="innerpage-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Visión</h2>
                </div>
                <div class="col-md-12 text-right">
                    <div class="other-page-link"> <a href="{{ path('cilantro_media_home_index') }}"><i class="fa fa-circle"></i>Inicio</a> <span><i class="fa fa-angle-right"></i>Visión</span> </div>
                </div>
            </div>
        </div>
    </section>

    <section id="area-main" class="top-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h3>Visión</h3>
                    <br />
                    <p>Posicionarnos como un referente en la prestación de productos y servicios del giro creativo en el que predominen de igual manera nuestra misión, metodología y filosofía, enalteciendo el orgullo de la producción y propuestas generadas en México, sobre todo en la capital del país.</p>

                    <br /><br />
                </div>
            </div>
        </div>
    </section>
{% endblock %}